@page "/Analysis"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using System.Linq
@using System
@inject HttpClient Http

<PageTitle>Analysis</PageTitle>

<h1>Analysis</h1>

<div class="row px-3">
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Input your repository:</RadzenText>
                <RadzenTextBox Change=@(args => OnChange(args, "TextBox")) Class="w-100" />
            </RadzenCard>
        </div>
</div>

<RadzenButton Click=@getAuthorAnalysis Text="Author Analysis" />
<RadzenButton Click=@getFrequencyAnalysis Text="Frequency Analysis" />

@if (isItAuthor == true)
{
     <RadzenChart>
        <RadzenPieSeries Data="@authorObjects" Title="Author Frequency" CategoryProperty="author" ValueProperty="frequency">
        </RadzenPieSeries>
        <RadzenValueAxis>
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Commit Frequency" />
        </RadzenValueAxis>
    </RadzenChart>
    @foreach (var author in authorAnalysis)
    {
        <p>@author.author</p>
        @foreach (var freq in @author.frequencies)
        {
            <p>@freq.frequency commits on @freq.date.ToString("MMMM dd, yyyy")</p>
        }
        
    }
}

@if (isItFrequency == true)
{
    <RadzenChart>
        <RadzenAreaSeries Smooth=true Data="@frequencyAnalysis" CategoryProperty="date" ValueProperty="frequency"
        RenderingOrder="1">
        </RadzenAreaSeries>
        <RadzenValueAxis>
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Commit Frequency" />
        </RadzenValueAxis>
    </RadzenChart>

    @foreach (var freq in @frequencyAnalysis)
    {
        <p>@freq.frequency commits on @freq.date.ToString("MMMM dd, yyyy")</p>
    }
}


@code {
    private AuthorDTO[] authorAnalysis = new AuthorDTO[] { };
    private AuthorObject[] authorObjects = new AuthorObject[] {};
    private FrequencyDTO[] frequencyAnalysis = new FrequencyDTO[] { };

    private string repository;

    bool isItAuthor;
    bool isItFrequency;

    bool active = false;

    protected async Task getAuthorAnalysis()
    {
        isItAuthor = true;
        isItFrequency = false;

        if(!active && repository != null) {
            active = true;
            authorAnalysis = await Http.GetFromJsonAsync<AuthorDTO[]>("https://localhost:7024/analysis/" + repository + "/author");
            active = false;
            authorObjects = convertToAuthorObjects();
        }
    }

    protected async Task getFrequencyAnalysis()
    {
        isItFrequency = true;
        isItAuthor = false;

        if(!active && repository != null) {
            active = true;
            frequencyAnalysis = await
            Http.GetFromJsonAsync<FrequencyDTO[]>("https://localhost:7024/analysis/" + repository + "/frequency");
            active = false;
        }
    }

    protected AuthorObject[] convertToAuthorObjects() {
        var authors = new AuthorObject[authorAnalysis.Length];
        for(int i = 0; i < authorAnalysis.Length; i++) {
            AuthorObject author = new AuthorObject{author = authorAnalysis[i].author, frequency = authorAnalysis[i].frequencies.Sum(item => item.frequency)};
            authors[i] = author;
        }
        return authors;
    }

    void OnChange(string value, string name)
    {
        repository = value;
    }

    public class AuthorDTO
    {
        public string author { get; set; }
        public List<FrequencyDTO> frequencies { get; set; } = new List<FrequencyDTO>();
    }

    public class AuthorObject 
    {
        public string author {get; set;}
        public int frequency {get; set;}
    }

    public class FrequencyDTO
    {
        public int frequency { get; set; }
        public DateTime date { get; set; }
    }
}